body{
    background-color: darkblue;
}

h1{
    margin: 30px 0 0 41%;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin: 0 0 20px 38%;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 120px;
    background-color: midnightblue;
    color: white;
    border-style:groove;
    border-color: orange;
    border-width: 5px;
}

.submit{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: orange;
  margin: 0 0 0 42%;
  padding: 20px;
  font-size: 30px;
}

.service{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 0 38%;
  padding: 2px 10px;
  font-size: 18px;
}

.tel{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 0 38%;
  padding: 2px 10px;
  font-size: 18px;
}

.email{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 0 38%;
  padding: 2px 10px;
  font-size: 18px;
}

.name{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 0 38%;
  padding: 2px 10px;
  font-size: 18px;
}
